@model WebApplication.Models.FileEntity

@*Below scripts files are used to provide the client side validation*@
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

<div class="createDiv">
    <h4>Please fill below File Form:</h4>
    <br />
    @using (Html.BeginForm("CreateFile", "Home"))
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            @Html.ValidationSummary(true)
            <div class="form-group">
                @Html.LabelFor(model => model.FileName, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.FileName)
                    @Html.ValidationMessageFor(model => model.FileName)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.FileSize, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.FileSize)
                    @Html.ValidationMessageFor(model => model.FileSize)
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btnFile" />
                </div>
            </div>
        </div>
    }
</div>
