@model  IEnumerable<WebApplication.Models.File>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<link href="~/Content/index.css" rel="stylesheet" />

<h3>Customer Page</h3>
@{
    var grid = new WebGrid(Model, canPage: true, rowsPerPage: 15,
    selectionFieldName: "selectedRow");
    grid.Pager(WebGridPagerModes.NextPrevious);}

<div id="gridContent">
    @grid.GetHtml(tableStyle: "webGrid",
            headerStyle: "header",
            alternatingRowStyle: "alt",
            selectedRowStyle: "select",
            rowStyle: "webgrid-row-style",
            columns: grid.Columns(
            grid.Column("CustomerId", "Customer Id", @<text> <span id="spnCustomerId">@item.CustomerId</span></text>,
                         canSort: false, style: "customerId"),

            grid.Column("CustomerName", "Customer Name", format: @<text>
                    <span id="spnCustomerName" class="display-mode">@item.CustomerName</span>
                    <input type="text" id="CustomerName" value="@item.CustomerName" class="edit-mode" /></text>,
                       canSort: false),

            grid.Column("CustomerAddress", "Customer Address", format: @<text>
                    <span id="spnCustomerAddress" class="display-mode">@item.CustomerAddress</span>
                    <input type="text" id="CustomerAddress" value="@item.CustomerAddress" class="edit-mode" /></text>,
                       canSort: false),

            grid.Column("Action", format: @<text>
                    <img src="~/Content/images/edit.jpg" title="Edit Customer" id="btnEdit" class="edit-button" />
                    <img src="~/Content/images/delete.jpg" title="Delete Customer" class="delete-customer" />
            </text>, canSort: false, style: "action")
                          ))

</div>
<input type="button" value="New Customer" class="btnCustomerPV" />
<div id="placeHolderCustomerPV">
</div>
<script src="~/Scripts/app.js"></script>


